@media print { 
    body{
        background-color: #ffffff;
        margin: 0;
        padding: 0;
    }

    .tm-sidebar{
        display: none;
    }

    .tm-main-content{
        margin: 0;
        padding: 20px;
    }

    #home::before, 
    section:nth-child(2)::before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 0 0 !important;
        border-color: none;
    }

    .tm-banner{
        height: 250px;
    }

    .tm-content-box{margin: 0;}

    .flex-2-col{flex-wrap: wrap;}

    .tm-team-description-container{ max-width: none;}

    .pad{padding:0 40px 0 40px;}

    h2.tm-section-title {
        color:blue;
    }

    h2+p {
        font-style: normal !important;
    }

    p::first-letter{
        font-size: inherit !important;
        font-family: inherit;
        color: inherit !important ;
        line-height: normal;
        padding-left: 0px !important;
    }

    .flex-item{
        margin: 0 auto;
        justify-content: flex-end !important;
        align-self: center !important;
    }
    
    .tm-footer{
        margin-top:15px;
    }
    
    section, 
    .gallery-container{
        display: none;
    } 

    section:nth-of-type(1){
        display: block;
    
    }

}


/* 1)
 Lets look closer at this part of site. Images within tiles should be rounded and tiles with text should have hover effect (see Figure 3). */

[class="img-fluid thumbnail"]{
    border-radius: 50%;
}

.tm-section-title-box{
    font-size: 48px;
}

.tm-section-title-box:hover{
    background-color: #1fc1f2;
    color: #ffffff;
    font-weight: 600;
}

/* 3)
 Change color of first letter in each paragraphs to #76cdd7 and font size to 30px. */

p:not(.tm-banner-text)::first-letter{
    font-size: 30px;
    font-family: inherit;
    color: rgb(118, 205, 215);
    padding-left: 25px;
}

/* 4) 
Add box shadow to sidebar and each content block. */

.tm-sidebar, 
.tm-content-box,
#ideas{
    box-shadow: 0 0 15px rgba(43, 43, 48, 0.8);
}

/* 5) 
Add triangle to each section on the page using pseudo elements. (see left top corner in Figure 5)  */

#home::before, 
section:nth-child(2)::before,
section:nth-child(3)::before,
section:nth-child(5)::before,
section:nth-child(6)::before{
    content: ''; 
    position: absolute; 
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 130px 0 0;
    border-color: #1fc1f2 transparent transparent transparent;
}

/* 6)
 Change color of ‘How We Do It’ to gainsboro and add letter spacing 5px. */

.carousel-item .tm-section-title{
    color: gainsboro;
    letter-spacing: 5px;
}

/* 7)
 Each first paragraph which placed after h2 tag should have italic font style. */

h2+p{
    font-style: italic;
}

/* 8)
 Text in the paragraph should look like in Figure 6. (vertical space between lines is increased, there is some free space at the start of the first line). */

p:not(.tm-banner-text) {
    line-height: 2em;
}

/* 9)
 In this block apply the following styles:
already visited links should become silver color
the hovered links should look like “6. Architects” item
add ‘new’ label to the end of words. It should be applied only for ‘Designers’ and ‘Strategists’ items. */

a:visited{
    color: silver;
}

a:hover{
    text-decoration: underline;
    color:#1fc1f2;
    border-bottom: 1px solid #1fc1f2
}

.text::after{
    content: 'New';
    vertical-align: super;
    color: red;
    font-size: 10px;
}

.heading h2{
    text-align: center;
    color:#1fc1f2;
}

/* 10)
 Add layout and styles for following block. */

.blocks .box:nth-child(odd){
    background-color: gainsboro;
}

.blocks .box h2 {
    font-size: 46px;

}

.blocks .box p {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 35px;
   line-height: 1.5em;
}

.blocks .box p::first-letter{
    color: black;
    padding-left: 0px;
}

/* 11) 
Take a look to sidebar in Figure 10. You need to add the silver border to the bottom of each item, except the last one.  */

.tm-main-nav li{
    border-bottom: 2px dotted gray;

}

.tm-main-nav li:last-child{
    border-bottom: none;
}
/* 
12) 
Change the text color of text inputs and submit button to red. Add asterisk to email field as shown in Figure 11.
Tip: Use attribute type selector. */

input[type], 
#contact_message, 

button[type] {
    color: red;
}

button[type]:hover{
    background-color: #1fc1f2;
    color: #ffffff;
}

.mandatory-field::after{
    content: "*";
    color: red;
}


