$white: #ffffff;
$blue_color: #05d0e6;
$aquamarine:#309d92;
$steelBlue_color: #218fa0;
$gainsboro: #dcdcdc;
$gray:gray;

$main_color: $blue_color;
$background_color: $white;
$articl_bg_color: $gainsboro;
$border_color: $steelBlue_color;
$title_color: $steelBlue_color;
$descriptiot_color: $aquamarine;
$text_color: $gray;


$font_arial: Arial, Helvetica, sans-serif;
$size_font: 18px;
$font:$font_arial;